@import "../base/mixin";
@import "../base/variables";

/*Estilo de contacto*/

/*Mobile*/

.main {

    background-image: url(../img/fondo-contacto.jpg);
    margin: 10px auto;

    .fondo-contacto {
        width: 100%;
        margin: 10px 0;
        padding: 0.2em;

        .texto-vino{
            margin-top: -30px;
            font-size: 20px;
            font-style: $italic;
        }


        .formulario {
            @include flex(column, center, center);
            background-color: nth($color, 2);
            padding: 0.5em;
            max-width: 1170px;
            margin: 10px auto;

            form {

                @include grid(1fr, auto);

                .campo-formulario {
                    @include flex(column, center, center);
                    width: 100%;
                    padding: 1em;
                    font-size: 1.2em;

                    label,
                    input,
                    textarea {
                        width: 100%;
                        padding: .2em;
                        font-size: 20px;
                        text-align: center;
                    }

                    .boton {
                        padding: 5px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .vino-flex {
            @include flex(column, center, center);
            padding: 1em;
            gap: 20px;

            img {
                width: 100%;
            }
        }
    }
}